@font-face {
  font-family: "Ember";
  src: url("typefaces/ember/AmazonEmber_Rg.ttf");
}

@font-face {
  font-family: "Ember Bold";
  src: url("typefaces/ember/AmazonEmber_Bd.ttf");
}

.app {
  height: 100vh;
  padding: 20px;
  font-family: "Ember Bold";
  background-color: #314459;
  font-size: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Ember";
  margin-bottom: 5em;
}

.event-tiles {
  display: flex;
  align-items: center;
}

.tile-image {
  max-width: 100%;
}

.tile-text {
  font-size: 2.1em;
  line-height: 1.5em;
}

.verify-link {
  font-family: "Ember";
  color: #c1c4c8;
  text-decoration: none;
}

.logo {
  height: 2.5em;
}
