@font-face {
  font-family: "Ember";
  src: url("typefaces/ember/AmazonEmber_Rg.ttf");
}

@font-face {
  font-family: "Ember Bold";
  src: url("typefaces/ember/AmazonEmber_Bd.ttf");
}

.app {
  padding: 20px 80px;
  box-sizing: border-box;
  font-family: "Ember Bold";
  background-color: #314459;
  font-size: 10px;
  min-height: 100vh;
  color: white;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Ember";
  margin-bottom: 3em;
}

.event-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.audio-player {
  margin: 0.8em 0 0.6em;
  width: 100%;
}

.loading-text {
  font-size: 2em;
}

.title {
  font-size: 2em;
  max-width: 400px;
}

.tile-image {
  max-width: 100%;
}

.tile-text {
  font-size: 2em;
  line-height: 1.5em;
}

@media screen and (min-width: 1280px) {
  .tile-text {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 850px) {
  .tile-text {
    font-size: 1.5em;
  }
}

.verify-link {
  font-family: "Ember";
  color: #c1c4c8;
  text-decoration: none;
}

.logo {
  height: 2.5em;
}
